footer#footer
  ul.nav-links
    li: a(href='/') Home
    li: a(href='/style-guide.html') Style Guide

  ul.social-links
    li
      i.fa.fa-facebook
    li
      i.fa.fa-twitter
    li
      i.fa.fa-google-plus
    li
      i.fa.fa-github-alt

  ul.legal-links
    li Copyright 2016. Mash LLC. All rights reserved.