nav#main-nav.navbar.navbar-default
  .wrapper-fluid
    .navbar-header
      a.navbar-brand(href='/')
        | Mash Interface Starter
    .navbar-right
      ul.nav.navbar-nav.navbar-right
        li: a(href="/") Home