//-- Enhanced inputs -----------------------------------------------------------
.with-icon
  position relative

  i
    font-size 1em
    left input-padding-x - 0.3
    position absolute
    top input-padding-y * 1.4

  input, textarea
    padding-left 2em