//-- FontAwesome Icon List -----------------------------------------------------
.fontawesome-icon-list
  clearfix()

  a
    color color-text-main
    text-decoration none

    .fa
      margin-right 0.5em