//-- A feature is some text and a graphic that is typically used as a header. --
.feature
  line-height 0
  margin 0 auto

  &.gfx-right,
  &.gfx-left
    .wrapper
      clearfix()
      flex-center()

    .gfx
      col(1/2)
      text-align center

      +below('s')
        col(1)
        float none
        margin-bottom 1em

      img
        width 100%

    .description
      col(1/2)

      +below('s')
        col(1)
        float none

    +below('s')
      // This inverts the order of the DOM elements so the gfx appears above the
      // description.
      .wrapper
        box-orient vertical
        display -webkit-box

        .gfx
          box-ordinal-group 1

        .description
          box-ordinal-group 2

  &.gfx-top,
  &.gfx-bottom
    .gfx
      img
        margin 0 auto
        width 50%

    .description
      .title
        text-align center

  .wrapper
    margin 0 auto
    max-width max-standard-width
    padding 3em

    +below('s')
      display block

  .gfx
    text-align center

    img
      max-width 500px

  .description
    .title
      line-height 1.25em
      margin 0.5em 0
      text-transform uppercase

      .fa
        display block
        font-size 1.5em
        margin-bottom 0.25em

  &#ecommerce-fulfillment
    .title
      color color-ecommerce-fulfillment

  &#website-hosting-management
    .title
      color color-website-hosting-management

  &#international-exports
    .title
      color color-international-exports

  &#software-development
    .title
      color color-software-development