extend ../../style-guide.html

block vars
  - var bodyClass = 'style-guide icons';

block sub_content
  header#header
    h1 FontAwesome Icons
    p Icons in this theme are provided by FontAwesome. Here is a sample of the available icons and you can view the full list on <a href="http://fontawesome.io/icons/" target="_blank">FontAwesome</a>.

    .card-panel.fontawesome-icon-list
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/american-sign-language-interpreting')
          i.fa.fa-american-sign-language-interpreting(aria-hidden='true')
          span.sr-only Example of
          | american-sign-language-interpreting
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/american-sign-language-interpreting')
          i.fa.fa-asl-interpreting(aria-hidden='true')
          span.sr-only Example of
          | asl-interpreting
          span.text-muted (alias)
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/assistive-listening-systems')
          i.fa.fa-assistive-listening-systems(aria-hidden='true')
          span.sr-only Example of
          | assistive-listening-systems
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/audio-description')
          i.fa.fa-audio-description(aria-hidden='true')
          span.sr-only Example of
          | audio-description
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/blind')
          i.fa.fa-blind(aria-hidden='true')
          span.sr-only Example of
          | blind
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/braille')
          i.fa.fa-braille(aria-hidden='true')
          span.sr-only Example of
          | braille
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/deaf')
          i.fa.fa-deaf(aria-hidden='true')
          span.sr-only Example of
          | deaf
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/deaf')
          i.fa.fa-deafness(aria-hidden='true')
          span.sr-only Example of
          | deafness
          span.text-muted (alias)
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/envira')
          i.fa.fa-envira(aria-hidden='true')
          span.sr-only Example of
          | envira
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/font-awesome')
          i.fa.fa-fa(aria-hidden='true')
          span.sr-only Example of
          | fa
          span.text-muted (alias)
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/first-order')
          i.fa.fa-first-order(aria-hidden='true')
          span.sr-only Example of
          | first-order
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/font-awesome')
          i.fa.fa-font-awesome(aria-hidden='true')
          span.sr-only Example of
          | font-awesome
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/gitlab')
          i.fa.fa-gitlab(aria-hidden='true')
          span.sr-only Example of
          | gitlab
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/glide')
          i.fa.fa-glide(aria-hidden='true')
          span.sr-only Example of
          | glide
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/glide-g')
          i.fa.fa-glide-g(aria-hidden='true')
          span.sr-only Example of
          | glide-g
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/google-plus-official')
          i.fa.fa-google-plus-circle(aria-hidden='true')
          span.sr-only Example of
          | google-plus-circle
          span.text-muted (alias)
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/google-plus-official')
          i.fa.fa-google-plus-official(aria-hidden='true')
          span.sr-only Example of
          | google-plus-official
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/deaf')
          i.fa.fa-hard-of-hearing(aria-hidden='true')
          span.sr-only Example of
          | hard-of-hearing
          span.text-muted (alias)
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/instagram')
          i.fa.fa-instagram(aria-hidden='true')
          span.sr-only Example of
          | instagram
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/low-vision')
          i.fa.fa-low-vision(aria-hidden='true')
          span.sr-only Example of
          | low-vision
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/pied-piper')
          i.fa.fa-pied-piper(aria-hidden='true')
          span.sr-only Example of
          | pied-piper
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/question-circle-o')
          i.fa.fa-question-circle-o(aria-hidden='true')
          span.sr-only Example of
          | question-circle-o
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/sign-language')
          i.fa.fa-sign-language(aria-hidden='true')
          span.sr-only Example of
          | sign-language
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/sign-language')
          i.fa.fa-signing(aria-hidden='true')
          span.sr-only Example of
          | signing
          span.text-muted (alias)
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/snapchat')
          i.fa.fa-snapchat(aria-hidden='true')
          span.sr-only Example of
          | snapchat
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/snapchat-ghost')
          i.fa.fa-snapchat-ghost(aria-hidden='true')
          span.sr-only Example of
          | snapchat-ghost
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/snapchat-square')
          i.fa.fa-snapchat-square(aria-hidden='true')
          span.sr-only Example of
          | snapchat-square
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/themeisle')
          i.fa.fa-themeisle(aria-hidden='true')
          span.sr-only Example of
          | themeisle
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/universal-access')
          i.fa.fa-universal-access(aria-hidden='true')
          span.sr-only Example of
          | universal-access
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/viadeo')
          i.fa.fa-viadeo(aria-hidden='true')
          span.sr-only Example of
          | viadeo
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/viadeo-square')
          i.fa.fa-viadeo-square(aria-hidden='true')
          span.sr-only Example of
          | viadeo-square
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/volume-control-phone')
          i.fa.fa-volume-control-phone(aria-hidden='true')
          span.sr-only Example of
          | volume-control-phone
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/wheelchair-alt')
          i.fa.fa-wheelchair-alt(aria-hidden='true')
          span.sr-only Example of
          | wheelchair-alt
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/wpbeginner')
          i.fa.fa-wpbeginner(aria-hidden='true')
          span.sr-only Example of
          | wpbeginner
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/wpforms')
          i.fa.fa-wpforms(aria-hidden='true')
          span.sr-only Example of
          | wpforms
      .fa-hover.col-one-third
        a(target='_blank', href='http://fontawesome.io/icon/yoast')
          i.fa.fa-yoast(aria-hidden='true')
          span.sr-only Example of
          | yoast