//-- The landing page ----------------------------------------------------------

*,
*::before,
*::after
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

.floating
  float left
  -webkit-animation-name Floatingx
  -webkit-animation-duration 3s
  -webkit-animation-iteration-count infinite
  -webkit-animation-timing-function ease-in-out
  -moz-animation-name Floating
  -moz-animation-duration 3s
  -moz-animation-iteration-count infinite
  -moz-animation-timing-function ease-in-out
  margin-left 30px
  margin-top 5px

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}

body
  background-image url("/gfx/vectors/fullBackground.png")
  background-position center
  background-repeat no-repeat
  background-size cover
  height 100vh
  width 100%

.index

  nav
    position absolute
    z-index 4
    display inline-block
    background-color #E8D0C5
    width 100%
    box-shadow: 2px 2px 4px black
    font-family "madeInChina"
    color #873939
    font-size: 1.50em
    ul
      display flex
      justify-content space-around
      padding 0
      margin 15px
    li
      list-style none
      img
        width 9%

  .cloud2
    position absolute
    z-index 3
    right 4%
    top 50%
  .cloud1
    position absolute
    z-index 3
    top 50%

  #gameBoard
    z-index 1
    position relative
    top 15%
    background-image url('/gfx/vectors/Board.png')
    background-position center
    background-repeat no-repeat
    background-size contain
    padding 10%
    padding-top 7%
    padding-bottom 7%
    table
      margin-left auto
      margin-right auto
      // border 1px solid black
      border-radius 5%!important
      width 50%
      tbody
        border-radius 5%
        tr
          border-radius 5%
          td
            // border 1px solid black
            padding 6%
            text-align center

  .board
    z-index 0
    position relative
    top -40%
    height 75%!important
    display block
    margin auto

  #boardSize
    display none
    &:hover
      position relative
      display inline
      cursor pointer

  .scroll
    width 30%
    position relative
    display block
    margin auto
    top 15%
