//-- The landing page ----------------------------------------------------------

*,
*::before,
*::after
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

.floating
  float left
  -webkit-animation-name Floatingx
  -webkit-animation-duration 3s
  -webkit-animation-iteration-count infinite
  -webkit-animation-timing-function ease-in-out
  -moz-animation-name Floating
  -moz-animation-duration 3s
  -moz-animation-iteration-count infinite
  -moz-animation-timing-function ease-in-out
  margin-left 30px
  margin-top 5px

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}

@-webkit-keyframes steam {
  0%  { opacity: 0; }
  40% { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(-10%, -35%) ; }
}

@-webkit-keyframes wiggle {
	0% {
		-webkit-transform:rotate(4deg);
	}
	50% {
		-webkit-transform:rotate(-4deg);
	}
	100% {
		-webkit-transform:rotate(4deg);
	}
}

.wiggle:hover {
	-webkit-animation: wiggle 3s infinite;
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

body
  background-image url("/gfx/vectors/fullBackground.png")
  background-position center
  background-repeat no-repeat
  background-size cover
  height 100vh
  width 100%
  cursor:url('/gfx/icons/chopsticks.cur'), auto;

.index
  .bao
    background-image url('/gfx/vectors/bao.png')
    background-repeat: no-repeat;
    background-position: center;
    height 5vh
    width 5%
    z-index 4
    margin 0
    padding 0

  .eggtart
    background-image url('/gfx/vectors/eggtart.png')
    background-repeat: no-repeat;
    background-position: center;
    height 5%
    width auto
    z-index 4

  nav
    position absolute
    z-index 4
    display inline-block
    background-color #E8D0C5
    width 100%
    box-shadow: 1px 1px 3px black
    font-family "madeInChina"
    color #873939
    font-size: 1.5em

    ul
      display flex
      flex-direction row
      justify-content space-around
      padding 0
      margin 15px
      margin 0
      padding-top 10px
      @media (max-width: 667px)
        padding 2%

    li
      list-style none
      img
        width 9%

      &:last-child
        @media (max-width: 667px)
          display none
    .first-child
      @media (max-width: 667px)
        margin auto

  .cloud2
    position absolute
    z-index 3
    right 4%
    top 50%
    height 15%
    @media (max-width: 320px)
      top 55%
  .cloud1
    position absolute
    z-index 3
    top 50%
    height 15%
    @media (max-width: 320px)
      top 55%
  #gameBoard
    z-index 1
    position relative
    top 8%
    background-image url('/gfx/vectors/Board.png')
    background-position center
    background-repeat no-repeat
    background-size 100% 100%
    padding 10%
    padding-top 5.5%
    width 80vw
    height 60vh
    margin-left auto
    margin-right auto
    &.size-3
      table
        background-image url('/gfx/vectors/whiteBoard.png')
        td
          width 33%
    &.size-4
      table
        background-image url('/gfx/vectors/Board4x4.png')
        td
          width 25%
    &.size-5
      table
        background-image url('/gfx/vectors/Board5x5.png')
        td
          width 20%
    //mediaQ for phone
    @media (max-width: 667px)
      top 7%
      padding-top 0
      padding-bottom 0
      background-size 100% 100%
      margin-left auto
      margin-right auto
      height 52vh
      width 100vw

      //mediaQ for tablet portrait
    @media (max-width: 768px) and (orientation: portrait)
      background-size 100% 100%
      top 5%
      height 65vh
      width 100vw
      padding 0

    @media (max-width: 1024px) and (orientation: landscape)
      background-size 100% 100%
      top 5%
      height 65vh
      width 100vw
      padding 0

    table
      background-position center
      background-repeat no-repeat
      background-size 100% 100%
      position relative
      margin-left auto
      margin-right auto
      height 40vh
      top 5.5%

      //mediaQ for phone
      @media (max-width: 667px)
        top 12%
        height 40vh
        width 100%

      //mediaQ for tablet
      @media (max-width: 768px) and (orientation: portrait)
        top 15%
        width 65%
        height 45vh
      @media (max-width: 1024px) and (orientation: landscape)
        top 15%
        width 65%
        height 45vh
      tbody
        tr
          td
            padding 0
            text-align center
            line-height 0
            &:hover
              cursor pointer
            @media (max-width: 667px)
              padding 4%
  #boardSize

    &:hover
      cursor pointer

  .boardLinks
    display none
    width 260px
    position absolute
    left 40%
    background-color #E8D0C5
    border-radius 0 0 10px 10px
    p
      padding 0
      margin 0
      width 100%
      &:hover
        background-color #C0A89D
      a
        font-family "madeInChina"
        color #873939
        text-decoration none
        font-size 1.5em

  .boardDrop
    &:hover
      cursor pointer
    //mediaQ for phone
    @media (max-width: 667px)
      display none

  .boardDrop:hover .boardLinks
    display block
  .steam
    -webkit-animation steam 2s 1s infinite
    position absolute
    bottom 15%
    z-index 2
    left 18%
    img
      animation: fade 2s linear;
    @media (max-width: 768px)
      display none
  .dumplings
    img
      position absolute
      height 25%
      bottom 0
      left 15%
      &:hover
        -webkit-transform-origin: top center;
        transform-origin: top center;
        -webkit-animation-name: swing;
        animation-name: swing;
      @media (max-width: 667px)
        display none
      @media (max-width: 768px) and (orientation: portrait)
        height 20%
        left 0

  .scroll
    background-image url('/gfx/vectors/WinnerScroll.png')
    background-position center
    background-repeat no-repeat
    background-size 100% 100%
    height 30%
    width 400px
    position relative
    display block
    margin auto
    top 10%
    z-index 9
    //mediaQ for phone
    @media (max-width: 667px)
      width 100%
      height 35%
      top 12%

      //mediaQ for tablet
    @media (max-width: 768px) and (orientation: portrait)
      height 30%
      top 5%
    @media (max-width: 1024px) and (orientation: landscape)
      height 30%
      top 5%

    .winsLosses
      text-align center
      padding-top 10%
      p
        margin 0
        padding 0
        font-family "madeInChina" !important
        color #533317
        font-size 1.3em
      @media (max-width: 667px)
        padding-top 7%
  .hamburger
    height 10%
    display none
    //mediaQ for phone
    @media (max-width: 667px)
      display block
      position relative
      left 5px
  #restart
    background #E8D0C5
    padding 2%
    border 2px solid #873939
    border-radius 8px
    font-family "MadeinChina"
    font-size 25.26px
    color #873939
    &:hover
      cursor pointer
    @media (max-width: 667px)
      padding 1%
      font-size 1.2em
  #overlay
    height 100vh
    width 100vw
    background-color: black
    opacity .5
    z-index 5
    position absolute
    top 0
    display none
  .winX
    position relative
    display block
    margin auto
    top -75%
    width auto
    height 35%
    background-image url('/gfx/vectors/MrtartWins.png')
    background-size contain
    background-position center
    background-repeat no-repeat
    z-index 5
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
  .winO
    position relative
    display block
    margin auto
    top -75%
    width auto
    height 35%
    background-image url('/gfx/vectors/BaoWins.png')
    background-size contain
    background-position center
    background-repeat no-repeat
    z-index 5
  .draw
    position relative
    display block
    margin auto
    top -75%
    width auto
    height 35%
    background-image url('/gfx/vectors/Draw.png')
    background-size contain
    background-position center
    background-repeat no-repeat
    z-index 5
