extend template-wrapper
block vars
  - var bodyClass = 'index';

block content
  audio(controls='', loop='', autoplay='')
    source(src='/sfx/chineseRestaurant.mp3', type='audio/mp3')
  nav
    span(onclick='openNav()')
        img.hamburger(src='/gfx/vectors/hamburger.png')
    ul
      li.first-child ticTac  
            img(src='/gfx/vectors/chopsticks.png') 
            |  DimSum
      li.boardDrop Choose Board Size
        ul#boardSize
          span.boardLinks
            li
                  p &nbsp;&nbsp;&nbsp;
                    a(href='#', data-size='3') 3x3
                  p &nbsp;&nbsp;&nbsp;
                    a(href='#', data-size='4') 4x4
                  p &nbsp;&nbsp;&nbsp;
                    a(href='#', data-size='5') 5x5
      li Choose Character
        ul#chooseCharacter
          li Player One
          li Player Two
            .charBox
            a(href='#', data-charId='1')
              img(src='/gfx/vectors/eggtart.png')
            a(href='#', data-charId='2')
              img(src='/gfx/vectors/bao.png')
            a(href='#', data-charId='3')
              img(src='/gfx/vectors/harGow.png')
            a(href='#', data-charId='4')
              img(src='/gfx/vectors/dumpling.png')
            a(href='#', data-charId='5')
              img(src='/gfx/vectors/shumai.png')
            a(href='#', data-charId='6')
              img(src='/gfx/vectors/sesame.png')
          
      
  #mySidenav.sidenav
    a.closebtn(href='javascript:void(0)', onclick='closeNav()') X
    br
    p
      a#boards.hoverBoard(href='#')
        | Board Size 
        i.fa.fa-caret-down
      #boardSizes
        a(href='#', data-size='3') 3x3
        br
        a(href='#', data-size='4') 4x4
        br
        a(href='#', data-size='5') 5x5
        br
      br
      a(href='#')
        | Choose a Character 
        i.fa.fa-caret-down
  
  #gameBoard
  

  img#playerO.floating.cloud1(src='/gfx/vectors/floaterEtart.png')
  img#playerX.floating.cloud2(src='/gfx/vectors/floaterHum.png')
  .steam
    img(src='/gfx/vectors/steam.png')


  .dumplings
    img.wiggle(src='/gfx/vectors/BasketODumplings.png')
  
  .scroll
    .winsLosses
      p Mr.Tart Wins:
        span#playerOWins
      p Mr.Bao Wins:
        span#playerXWins
      p Draws: 
        span#draws
      button#restart restart
      
  #overlay
  #winPrompt.animated.rotateIn
  
block scripts
  script(type='text/javascript' src='/js/game/gameState.js')
  script(type='text/javascript' src='/js/game/webPresenter.js')
