extend template-wrapper
block vars
  - var bodyClass = 'index';

block content
  #fb-root
  audio(controls='', loop='', autoplay='')
    source(src='/sfx/chineseRestaurant.mp3', type='audio/mp3')
  nav
    span(onclick='openNav()')
        img.hamburger(src='/gfx/vectors/hamburger.png')
    ul
      li.first-child ticTac  
            img(src='/gfx/vectors/chopsticks.png') 
            |  DimSum
      li.boardDrop Choose Board Size
        ul#boardSize
          span.boardLinks
            li
                  p &nbsp;&nbsp;&nbsp;
                    a(href='#', data-size='3') 3x3
                  p &nbsp;&nbsp;&nbsp;
                    a(href='#', data-size='4') 4x4
                  p &nbsp;&nbsp;&nbsp;
                    a(href='#', data-size='5') 5x5
      li.choose Choose Character
        ul#chooseCharacter
          li.toggleCharBox &nbsp;&nbsp;Player One
            i.fa.fa-caret-down
            #playerOne.charBox
              a(href='#', data-charId='1')
                img(src='/gfx/vectors/eggtart.png')
              a(href='#', data-charId='2')
                img(src='/gfx/vectors/bao.png')
              a(href='#', data-charId='3')
                img(src='/gfx/vectors/harGow.png')
              a(href='#', data-charId='4')
                img(src='/gfx/vectors/dumpling.png')
              a(href='#', data-charId='5')
                img(src='/gfx/vectors/shumai.png')
              a(href='#', data-charId='6')
                img(src='/gfx/vectors/sesame.png')
          li.toggleCharBox &nbsp;&nbsp;Player Two
            i.fa.fa-caret-down
            #playerTwo.charBox
              a(href='#', data-charId='1')
                img(src='/gfx/vectors/eggtart.png')
              a(href='#', data-charId='2')
                img(src='/gfx/vectors/bao.png')
              a(href='#', data-charId='3')
                img(src='/gfx/vectors/harGow.png')
              a(href='#', data-charId='4')
                img(src='/gfx/vectors/dumpling.png')
              a(href='#', data-charId='5')
                img(src='/gfx/vectors/shumai.png')
              a(href='#', data-charId='6')
                img(src='/gfx/vectors/sesame.png')
          
      
  #mySidenav.sidenav
    a.closebtn(href='javascript:void(0)', onclick='closeNav()') X
    br
    a#boards.hoverBoard(href='#')
      | Board Size 
      i.fa.fa-caret-down
    #boardSizes
      a(href='#', data-size='3') 3x3
      br
      a(href='#', data-size='4') 4x4
      br
      a(href='#', data-size='5') 5x5
      br
    ul#chooseCharacter2
      li.toggleCharBox &nbsp;&nbsp;Player One
        i.fa.fa-caret-down
        #playerOne.charBox
          a(href='#', data-charId='1')
            img(src='/gfx/vectors/eggtart.png')
          a(href='#', data-charId='2')
            img(src='/gfx/vectors/bao.png')
          a(href='#', data-charId='3')
            img(src='/gfx/vectors/harGow.png')
          a(href='#', data-charId='4')
            img(src='/gfx/vectors/dumpling.png')
          a(href='#', data-charId='5')
            img(src='/gfx/vectors/shumai.png')
          a(href='#', data-charId='6')
            img(src='/gfx/vectors/sesame.png')
      li.toggleCharBox &nbsp;&nbsp;Player Two
        i.fa.fa-caret-down
        #playerTwo.charBox
          a(href='#', data-charId='1')
            img(src='/gfx/vectors/eggtart.png')
          a(href='#', data-charId='2')
            img(src='/gfx/vectors/bao.png')
          a(href='#', data-charId='3')
            img(src='/gfx/vectors/harGow.png')
          a(href='#', data-charId='4')
            img(src='/gfx/vectors/dumpling.png')
          a(href='#', data-charId='5')
            img(src='/gfx/vectors/shumai.png')
          a(href='#', data-charId='6')
            img(src='/gfx/vectors/sesame.png')
        

  #gameBoard
  

  img#playerO.floating.cloud1(src='/gfx/vectors/playerCloud.png')
  img#playerX.floating.cloud2(src='/gfx/vectors/player2Cloud.png')
  .steam
    img(src='/gfx/vectors/steam.png')


  .dumplings
    img.wiggle(src='/gfx/vectors/BasketODumplings.png')
  
  .scroll
    .winsLosses
      p Player One Wins:
        span#playerOWins
      p Player Two Wins:
        span#playerXWins
      p Draws: 
        span#draws
      button#restart restart
      //- p
      //-   .fb-share-button(data-href='http://swagner23q.github.io/beyondBasics/', data-layout='icon', data-mobile-iframe='true')
      //-   a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fswagner23q.github.io%2FbeyondBasics%2F&src=sdkpreparse')
  #overlay
  #winPrompt
  
block scripts
  script(type='text/javascript' src='/js/game/gameState.js')
  script(type='text/javascript' src='/js/game/webPresenter.js')
