extend template-wrapper
block vars
  - var bodyClass = 'index';

block content
  //- embed(src='/sfx/chineseRestaurant.mp3', loop='true', autostart='true')
  nav
    ul
      img.hamburger(src='/gfx/vectors/hamburger.png')
      li.first-child ticTac  
            img(src='/gfx/vectors/chopsticks.png') 
            |  DimSum
      li.boardDrop Choose Board Size
        ul#boardSize
          span.boardLinks
            li
                  p &nbsp;&nbsp;&nbsp;
                    a(href='#', data-size='3') 3x3
                  p &nbsp;&nbsp;&nbsp;
                    a(href='#', data-size='4') 4x4
                  p &nbsp;&nbsp;&nbsp;
                    a(href='#', data-size='5') 5x5
      li Choose Character
  
  #gameBoard

  img.floating.cloud1(src='/gfx/vectors/floaterEtart.png')
  img.floating.cloud2(src='/gfx/vectors/floaterHum.png')
  .steam
    img(src='/gfx/vectors/steam.png')


  .dumplings
    img.wiggle(src='/gfx/vectors/BasketODumplings.png')
  
  .scroll
    .winsLosses
      p Player X Wins:
        span#playerXWins
      p Player O Wins:
        span#playerOWins
      p Draws: 
        span#draws
      button#restart restart
  
  
block scripts
  script(type='text/javascript' src='/js/game/gameState.js')
  script(type='text/javascript' src='/js/game/webPresenter.js')
