- var bodyClass = '';
block vars

doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/gfx/icons/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/gfx/icons/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/vendor/css/animate.css')
    link(rel='stylesheet', href='/vendor/css/font-awesome.css')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/css/main.css')

    title
      block title
        | TicTac DimSum

  body(class='#{bodyClass}')
    block content

    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(type='text/javascript' src='/js/jquery.brightness.js')
    script(type='text/javascript' src='/js/main.js')
    block scripts
